.hhWidget {
	display: block;
	border: 2px solid #ccc;
	background-color: #fff;
	padding: 10px 5px 2px 5px;
	width: 200px;
	min-height: 300px;
	position: relative;
	color: #666;
	border-radius: 4px;
}

	.hhWidget:before {
		background: url(http://hh.ru/ichameleon/00181.png) no-repeat;
		display: block;
		position: absolute;
		width: 100px;
		height: 66px;
		content: "";
		left: -20px;
		top: -20px;
	}

	.hhWidget.noSearch {
		min-height: 175px;
	}

	.hhWidget form {
		margin: 0;
		padding: 0;
	}

	.hhWidget span.hhWidgetHeader {
		display: block;
		font-weight: bold;
		font-size: 1.2em;
		color: #000;
		text-align: right;
		padding: 0 5px 0 80px;
	}
	
	.hhWidget a {
		color: #076CC7;
		text-decoration: underline;
	}
	
	.hhWidget a:hover {
		color: #c00;
		text-decoration: none;
	}

	.hhWidget p {
		margin: 0 0 0.5em 0;
		padding: 0;
	}
		.hhWidget p.hhWidgetAddress {
			color: #999;
			font-size: 0.9em;
		}
	
	.hhWidget .vacancyScroll {
		overflow: hidden;
		margin: 10px auto 5px auto;
		background-color: #efefef;
	}
	
		.hhWidget .vacancyScroll > ul {
			margin: 0;
			padding: 0;
			width: 9999px;
			list-style: none;
		}
			.hhWidget .vacancyScroll > ul > li {
				margin: 0;
				padding: 2px 5px;
				float: left;
				width: 200px;
			}

		.hhWidget span.hhWidgetFound {
			display: block;
			font-size: 0.8em;
			color: #c00;
			text-align: right;
			margin: -2px 0 10px 0;
		}
	
	.hhWidget .hhWidgetSearch {
		width: 200px;
		position: relative;
		bottom: 0;
	}
		.hhWidget .hhWidgetSearch input,
		.hhWidget .hhWidgetSearch select {
			margin-bottom: 4px;
		}

		.hhWidget input.hhWidgetText {
			padding: 2px;
			width: 194px;
		}
		
		.hhWidget input.hhWidgetSalary {
			width: 160px;
		}
		
		.hhWidget select.hhWidgetSelect {
			width: 100%;
		}
		
		.hhWidget input.hhWidgetButton {
			float: right;
		}